@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

 /*Main Styles*/
 *{
    margin: 0;
    padding-left: 0;
   
    
    
 }
 .App{
    font-family: Inter, sans-serif;
    background-color:orangered;
    height:100vh;
  
}
 h1, h2{
    font-family:Righteous, sans-serif;
    letter-spacing:.1em;
 }

 button{
    font-family:Inter, sans-serif;
    font-weight:300;
    padding:5px 10px;
    margin:5px;
    font-size:12px;
    border-radius:20px;
    border: 1px solid transparent;
    background-color:black;
    color:white;
 }

 button:hover{
    background-color:rgb(209, 209, 255);
    color:black;
    border: 1px solid black;
    box-shadow: 1px 1px 2px gray;
    scale: calc(1.2)
 }

 button:active{
    background-color:rgb(255, 195, 170);
    color:black;
    border: 1px solid black;
    box-shadow: 1px 1px 2px gray;
 }

main{
    padding:20px;
}
 /***Components***/
 /****NAV BAR*****/
 .App-header{
    background-color:white;
    display:inline-block;
    width:100%;
    height:15%;
 }
 .nav{
    margin-top:10px;
    float:right;
    margin-right:10px;
 }
 .accounts-nav{
    margin-top:10px;
    float:right;
 }
 .accounts-nav button{
    border:2px solid orangered;
 }
 /***HEADER***/
 .site-title{
    margin-top:30px;
    padding-left:20px;
 }
 /***SEARCH BAR***/
 .search-bar-standin{
    padding-left:20px;
    background-color:black;
    width:30%;
    height:30px;
    border-radius:20px;
    margin-left:15px;
    margin-top:5px;
    color:white;
 }
/****Cards****/
.card-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    padding:20px;
    overflow:scroll;
}

.img-wrapper{
    width: 100%;
   
}
.img-wrapper img{
    height:auto;
    width:100%;
    border-radius:20px;
    margin-top:5px;
}
 .mapped-card-display{
    background-color:white;
    margin:15px;

    padding:15px;
    min-height:200px;
    min-width:150px;
    max-height: fit-content;
    border-radius:20px;
    box-shadow: 2px 2px 2px darkgray;
 }

 .mapped-card-display:hover{
    scale: calc(1.1);
 }
 /**pages**/
 .page-title{
    text-align:center;
 }

